.cartWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-right: 2rem;
}

@media (width <= 800px) {
  .cartWidget{
    margin: 0;
  }
}
