.ItemDetail {
  width: 60%;
  background-color:  #f7f7f1;
  margin: 2rem;
  border-radius: 0.5rem;
}

.ItemDetail h2 {
  margin: 1rem;
  text-align: center;
}

.infoDetalle {
  display: flex;
  padding: 2rem;
  justify-content: center;
  gap: 2rem;
}

.infoDetalle img {
  width: 50%;
  max-height: 30rem;
  object-fit: contain;
}

.textoDetalle {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cuotas{
  color: #9b978e;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 1rem 0;
  width: 100%;
}

.precio{
  font-size: 1.5rem;
}

.botonFinalizarCompra {
  background-color: #383e3c;
  padding: 0.5rem 1.5rem;
  border: none;
  color: #9F8D60;
  cursor: pointer;
  border-radius: 0.3rem;
}

.descripcion {
  max-height: 15rem;
  overflow: scroll;
}

@media (width <= 1000px) {
  .ItemDetail{
    width: 95%;
  }
}

@media (width <= 800px) {
  .infoDetalle{
    flex-direction: column;
    padding-top: 0.5rem;
  }
.ItemDetail{
  width: 90%;
}
.infoDetalle img {
  width: 100%;
}
.ItemDetail h2 {
  margin-bottom: 0;
}
.textoDetalle {
  width: 100%;
}
}