@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #9F8D60;
  border-radius: 0.2rem;
}

body {
  background-color:  #383e3c;
  color: #9F8D60;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

h2 {
  text-align: center;
}